<div class="front-splash">
    <div class="splash-text">
        {% if nav_text %}
        {{ nav_text() }}
        {% else %}
        Want to try another user? Enter a <a href="https://github.com">GitHub</a>
        username
        {% endif %}
    </div>
    <form class="nav-form">
        <input id="username" type="text" placeholder="How about 'mojombo', for example…">
    </form>
</div>

<script>
    function goto_user (e) {
        var val = $("#username").val();
        e.preventDefault();
        if (val) window.location = "{{ url_for(".user_view", username="") }}" + val;
        return false;
    }
    $(function () {
        $(".nav-form").on("submit", goto_user);
    });
</script>
