{% extends "base.html" %}
{% block title %}Opt-Out of The Open Source Report Card{% endblock %}
{% block body %}

<div id="profile">
    <div id="description">
        <p>
        Sorry to hear that you want to opt-out!
        <a href="{{ url_for('.opt_out_login', username=username) }}">Login using GitHub</a>
        to verify your account and your profile will disappear immediately.
        <strong>Note</strong>: this action is final and once your account is
        disabled, you'll have to <a href="mailto:osrc@dfm.io">email me</a> to
        get re-added.
        </p>
    </div>
</div>

{% endblock %}
