{% extends "base.html" %}
{% block title %}Opt-Out of The Open Source Report Card{% endblock %}
{% block body %}

<div class="container">
    <h2>Opt-out of the OSRC</h2>
    <p>
    Sorry to hear that you want to opt-out!
    <a href="{{ url_for('.optout_login', username=username) }}">Login using GitHub</a>
    to verify your account and your profile will disappear immediately.
    <strong>Note</strong>: this action is final and once your account is
    disabled, you'll have to <a href="mailto:osrc@dfm.io">email me</a> to
    get re-added.
    </p>
</div>

{% endblock %}
