{% extends "base.html" %}
{% block title %}{{ repository }} on The Open Source Report Card{% endblock %}
{% block body %}

<div id="profile">
    <div class="profile-badge clearfix">
        <a href="https://github.com/{{ repository }}" target="_blank">
            <span class="profile-name">{{ repository }}</span>
        </a>
    </div>

    <div id="description">

        <p>
        {% if contributors|length > 1 %}
        The following users have interacted with <strong>{{ repository }}</strong>:
        {% for user in contributors %}
        {% if loop.last %} and {%endif %}<a href="/{{ user.username }}">{{ user.name }}</a>
        {%- if not loop.last -%}, {%- endif %}
        {%- endfor -%}.
        {% elif contributors|length > 0 %}
        <strong>{{ repository }}</strong> is being built by <a href="/{{ contributors[0].username }}">{{ contributors[0].name }}</a>.
        {% endif %}
        Why don't you <a href="https://github.com/{{ repository }}" target="_blank">get involved</a>?
        </p>

        <p>
        If you're interested in <strong>{{ repository }}</strong>, you might also want to check out
        {% for repo in recommendations %}
        {% if loop.last %} or {%endif %}<a href="/{{ repo }}">{{ repo }}</a>
        {%- if not loop.last -%}, {%- endif %}
        {%- endfor -%}.
        </p>

        <p>
        <strong>Note</strong>: like stats? Of course you do. Did you know that you
        can get access to <a href="/{{ repository }}.json">the
        raw data that was used to generate this page in JSON format</a>?
        </p>

    </div>
</div>


{% endblock %}
