{% extends "base.html" %}
{% block title %}{{ name }}'s Open Source Report Card{% endblock %}
{% block body %}

<div id="profile">
    <div class="profile-badge clearfix">
        <a href="https://github.com/{{ username }}" target="_blank">
            <img height="50" width="50" alt="{{ username }}" class="avatar" src="https://secure.gravatar.com/avatar/{{ gravatar }}?s=220&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">
            <span class="profile-name">{{ name }}</span>
        </a>
    </div>

    <div id="description">

        <p>
        {{ name }} is {{ adjectives|random }}
        {% if usage.languages[0].language in language_list %}
        {{ language_list[usage.languages[0].language] }} {% else %}
        {{ usage.languages[0].language }} coder{% endif %}
        {%- if usage.languages[0].quantile < 50 %}
        (one of the {{ usage.languages[0].quantile }}% most active
        {{ usage.languages[0].language }} users){%- endif %} who
        {% if usage.events[0].type in event_actions %}spends a lot of time
        {{ event_actions[usage.events[0].type] }} between pushes
        {%- else %}loves pushing code{% endif %}.

        {{ name|firstname }} is a {{ week_type }} who works best
        {{ best_time[1] }}
        {%- if best_time[0] == 0 or best_time[0] == 12 %}
        {%- elif best_time[0] < 12 %} (around {{ best_time[0] }} am)
        {%- else %} (around {{ best_time[0]-12 }} pm){% endif %}.
        </p>

        {% if similar_users|length > 0 %}
        <p>
        {{ name|firstname }}'s developer personality is very similar to
        <a href="{{ url_for(".user_view", username=similar_users[0].username) }}">{{ similar_users[0].name }}</a>'s
        but
        {% if similar_users[0].name|firstname != name|firstname %}
        {{ similar_users[0].name|firstname }}
        {% else %}
        {{ similar_users[0].name }}
        {% endif %}
        {{ username|compare(similar_users[0].username) }}.
        {% if similar_users|length > 1 %}
        There is also an uncanny similarity between {{ name|firstname }}'s
        activity stream and those of
        {% for user in similar_users[1:-1] %}
        <a href="{{ url_for(".user_view", username=user.username) }}">{{ user.name }}</a>,
        {% endfor %}
        {% if similar_users|length > 2 %}
        and
        {% endif %}
        <a href="{{ url_for(".user_view", username=similar_users[-1].username) }}">{{ similar_users[-1].name }}</a>.
        {% endif %}
        </p>
        {% endif %}

        {% if connected_users|length > 0 %}
        <p>
        It seems like {{ name|firstname }} is—or should be—friends with
        <a href="{{ url_for(".user_view", username=connected_users[0].username) }}">{{ connected_users[0].name }}</a>.
        With this in mind, it's worth noting that
        {% if connected_users[0].name|firstname != name|firstname %}
        {{ connected_users[0].name|firstname }}
        {% else %}
        {{ connected_users[0].name }}
        {% endif %}
        {{ username|compare(connected_users[0].username) }}.
        {% if connected_users|length > 1 %}
        There is also an obvious connection between {{ name|firstname }} and
        {% for user in connected_users[1:-1] %}
        <a href="{{ url_for(".user_view", username=user.username) }}">{{ user.name }}</a>,
        {% endfor %}
        {% if connected_users|length > 2 %}
        and
        {% endif %}
        <a href="{{ url_for(".user_view", username=connected_users[-1].username) }}">{{ connected_users[-1].name }}</a>.
        {% endif %}
        </p>
        {% endif %}

    </div>

    <h1 id="stats">Statistics</h1>

    <div id="schedule-text">



    </div>

</div>

{% endblock %}
