{% extends "base.html" %}
{% block title %}{{ name }}'s Open Source Report Card{% endblock %}
{% block body %}

<div id="profile">
    <div class="profile-badge clearfix">
        <a href="https://github.com/{{ username }}" target="_blank">
            <img height="50" width="50" alt="{{ username }}" class="avatar" src="https://secure.gravatar.com/avatar/{{ gravatar }}?s=220&d=https://a248.e.akamai.net/assets.github.com%2Fimages%2Fgravatars%2Fgravatar-user-420.png">
            <span class="profile-name">{{ name }}</span>
        </a>
    </div>

    <div id="description">

        <p>

        {{ name }} is <a href="#languages">{{ adjectives|random }}
        {% if usage.languages|length > 0 %}
        {% if usage.languages[0].language in language_list %}
        {{ language_list[usage.languages[0].language] }}{% else %}
        {{ usage.languages[0].language }} coder{% endif %}</a>
        {%- if usage.languages[0].quantile < 50 %}
        (one of the {{ usage.languages[0].quantile }}% most active
        {{ usage.languages[0].language }} users){%- endif %}
        {% else %}
        hacker</a>
        {% endif %}
        who
        <a href="#events">{%- if usage.events[0].type in event_actions %}spends a lot of time
        {{ event_actions[usage.events[0].type] }} between pushes
        {%- else %}loves pushing code{% endif %}</a>.

        {{ name|firstname }} is <a href="#schedule">{{ week_type }} who works best
        {{ best_time[1] }}
        {%- if best_time[0] == 0 or best_time[0] == 12 %}
        {%- elif best_time[0] < 12 %} (around {{ best_time[0] }} am)
        {%- else %} (around {{ best_time[0]-12 }} pm){% endif %}</a>.
        </p>

        {% if similar_users|length > 0 %}
        <p>
        {{ name|firstname }}'s developer personality is very similar to
        <a href="{{ url_for(".user_view", username=similar_users[0].username) }}">{{ similar_users[0].name }}</a>'s
        but
        {% if similar_users[0].name|firstname != name|firstname %}
        {{ similar_users[0].name|firstname }}
        {% else %}
        {{ similar_users[0].name }}
        {% endif %}
        {{ username|compare(similar_users[0].username) }}.
        {% if similar_users|length > 1 %}
        There is also an uncanny similarity between {{ name|firstname }}'s
        activity stream and those of
        {% for user in similar_users[1:-1] %}
        <a href="{{ url_for(".user_view", username=user.username) }}">{{ user.name }}</a>,
        {% endfor %}
        {% if similar_users|length > 2 %}
        and
        {% endif %}
        <a href="{{ url_for(".user_view", username=similar_users[-1].username) }}">{{ similar_users[-1].name }}</a>.
        {% endif %}
        </p>
        {% endif %}

        {% if connected_users|length > 0 %}
        <p>
        It seems like {{ name|firstname }} is—or should be—friends with
        <a href="{{ url_for(".user_view", username=connected_users[0].username) }}">{{ connected_users[0].name }}</a>.
        With this in mind, it's worth noting that
        {% if connected_users[0].name|firstname != name|firstname %}
        {{ connected_users[0].name|firstname }}
        {% else %}
        {{ connected_users[0].name }}
        {% endif %}
        {{ username|compare(connected_users[0].username) }}.
        {% if connected_users|length > 1 %}
        There is also an obvious connection between {{ name|firstname }} and
        {% for user in connected_users[1:-1] %}
        <a href="{{ url_for(".user_view", username=user.username) }}">{{ user.name }}</a>,
        {% endfor %}
        {% if connected_users|length > 2 %}
        and
        {% endif %}
        <a href="{{ url_for(".user_view", username=connected_users[-1].username) }}">{{ connected_users[-1].name }}</a>.
        {% endif %}
        </p>
        {% endif %}

        {% if repositories|length > 1 %}
        <p>
        These days, {{ name|firstname }} is most actively contributing to the repositories:
        {% for repo in repositories %}
        {% if loop.last %} and {% endif %}<a href="/{{ repo.repo }}">{{ repo.repo }}</a>{%- if not loop.last -%},{% endif %}
        {%- endfor -%}.
        </p>
        {% endif %}

    </div>

    <h1 id="stats">Statistics</h1>

    <div id="schedule-text">

        <p id="schedule">
        The two following graphs show {{ name }}'s average weekly and daily
        schedules. These charts give significant insight into {{ name|firstname }}'s
        character as a developer.
        {% if usage.events|length > 1 -%}
        The colors in the charts indicate the fraction of events that are
        {%- for i, event in enumerate(usage.events) -%}
        {% if loop.last %} and{% endif %}
        <span class="evttype" data-ind="{{ i }}">{{ event_verbs[event.type] }}</span>{%- if not loop.last -%},{%- endif -%}
        {%- endfor %}.
        {%- endif %}
        </p>

        <div class="hist-block">
            <div id="week" class="hist"></div>
            <div id="day" class="hist"></div>
        </div>

        <p>
        <strong>Note</strong>: an attempt has been made to show these plots in
        in the correct timezone (based on {{ name|firstname }}'s location listed
        on <a href="https://github.com/{{ username }}">their GitHub profile</a>)
        but this procedure is imperfect at best.
        </p>

        {% if usage.events|length > 1 %}
        <p id="events">
        We already know that {{ name|firstname }}
        {% if usage.events[0].type in event_actions %}loves
        {{ event_actions[usage.events[0].type] }} whenever they're not pushing code
        {%- else %}loves pushing code{% endif %}
        but the following chart sheds some light onto what {{ name|firstname }}
        does with their open source time. In the full event stream analyzed for
        this report, there are a total of <strong>{{ usage.total }}</strong> events recorded for
        {{ name|firstname }}.
        The colors in the pie chart below indicate the number of events that are
        {%- for i, event in enumerate(usage.events) -%}
        {% if loop.last %} and{% endif %}
        <span class="evttype" data-ind="{{ i }}">{{ event_verbs[event.type] }}</span>{%- if not loop.last -%},{%- endif -%}
        {%- endfor %}.
        </p>
        <div class="hist-block">
            <div id="event-chart"></div>
        </div>
        {% endif %}

        {% if usage.languages|length > 1 %}
        <p id="languages">
        {{ name|firstname }} has contributed to repositories in {{ usage.languages|length }}
        languages. In particular, {{ name|firstname }} seems to be a pretty serious
        <strong>{{ usage.languages[0].language }}</strong> expert
        {%- if (usage.languages[0].count-usage.languages[1].count)/usage.languages[0].count < 0.5 %}
        with a surprisingly broad knowledge of <strong>{{ usage.languages[1].language }}</strong> as well
        {%- endif -%}.
        The following chart shows the number of contributions {{ name|firstname }} made to
        repositories mainly written in
        {%- for i, lang in enumerate(usage.languages[:5]) -%}
        {% if loop.last %} and{% endif %}
        <span class="evttype" data-ind="{{ i }}">{{ lang.language }}</span>{%- if not loop.last -%},{%- endif -%}
        {%- endfor %}.
        </p>
        <div class="hist-block">
            <div id="lang-chart"></div>
        </div>
        {% elif usage.languages|length > 0 %}
        <p id="languages">
        All of {{ name|firstname }}'s activity seems to be associated with repositories
        in <strong>{{ usage.languages[0].language }}</strong>. Maybe it's time to
        branch out a bit.
        </p>
        {% endif %}

        <p>
        <strong>Note</strong>: like stats? Of course you do. Did you know that you
        can get access to <a href="{{ url_for(".stats_view", username=username) }}">the
        raw data that was used to generate this page in JSON format</a>?
        </p>

        <p>
        Is this page about you? You don't like the things that it's saying?
        I'm very sorry about that! Remember that it is just meant to be a toy
        and not meant to be taken seriously but if you must, you're welcome to
        <a href="{{ url_for(".opt_out", username=username) }}">opt-out at any
        time</a>.
        </p>

    </div>

</div>

{% include "nav.html" %}

{% endblock %}

{% block scripts %}

<script src="{{ url_for("static", filename="d3.v3.min.js") }}"></script>
<script src="{{ url_for("static", filename="plot.js") }}"></script>
<script>

(function () {

    "use strict";

    $(function () {
        var cb = d3.scale.category10();
        $(".evttype").each(function () {
            var el = $(this);
            el.css("color", cb(+el.data("ind")));
        });

        // Schedule histograms.
        var week_hist = window.histogram().width(200)
                                        .labels(["S","M","T","W","T","F","S"]);
        var week_data = [{% for event in usage.events %}{{ event.week }}{% if not loop.last %}, {% endif %}{% endfor %}];
        d3.select("#week")
          .datum(week_data[0].map(function (d, i) {
              return week_data.map(function (d) { return d[i]; });
          }))
          .call(week_hist);

        var day_hist = window.histogram().width(400)
                        .labels(["", "3am","","","6am","","","9am","","","noon",
                                 "","","3pm","","","6pm","","","9pm","","","12am",""]);
        var day_data = [{% for event in usage.events %}{{ event.day }}{% if not loop.last %}, {% endif %}{% endfor %}];
        d3.select("#day")
          .datum(day_data[0].map(function (d, i) {
              return day_data.map(function (d) { return d[(i+2)%24]; });
          }))
          .call(day_hist);

        // Languages.
        var event_pie = window.piechart().dim(200);
        var event_data = [{% for event in usage.events %}{{ event.total }}{% if not loop.last %}, {% endif %}{% endfor %}];
        d3.select("#event-chart").datum(event_data).call(event_pie);

        // Languages.
        var lang_pie = window.piechart().dim(200);
        var lang_data = [{% for lang in usage.languages[:5] %}{{ lang.count }}{% if not loop.last %}, {% endif %}{% endfor %}];
        d3.select("#lang-chart").datum(lang_data).call(lang_pie);

    });

})();


</script>
{% endblock %}
