@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:900';

html {
    color-profile: sRGB;
    rendering-intent: auto;
}

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 27px;
    background: rgb(236, 236, 234);
    color: #222;
}

a {
    text-decoration: underline;
    color: inherit !important;
}

.container {
    width: 550px;
    margin: 0 auto;
}

.header {
    text-align: center;
    margin: 50px 0 30px;
}

.footer {
    margin-top: 100px;
    padding: 30px 0;
    border-top: 1px solid #ddd;
    width: 100%;
    text-align: center;

    font-size: 12px;
    line-height: 18px;
    color: #999;
}

#logo {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    font-size: 21px;
    line-height: 18px;
    font-weight: 900;
    text-align: center;
    padding: 5px;
    border: 5px solid #222;
    color: #222;
    font-family: 'Source Sans Pro', sans-serif;
}

.avatar {
    margin: 0 0 10px;
}

.avatar img {
    width: 100px;
    height: 100px;
    border-radius: 6px;
}

.titles {
    color: #928452;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 150%;
    white-space: nowrap;
    overflow: hidden;
}

h2 {
    color: #928452;
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: 500;
    letter-spacing: .1em;
    line-height: 150%;
    padding-top: 30px;
}

p {
    text-align:justify;
}

#friends {
    text-align: center;
    padding: 10px 0;
    height: 50px;
}

.friend {
    padding: 0 5px;
    width: 50px;
    height: 50px;
    border-radius: 4px;
}

/* plotting */
.hist-block {
    text-align: center;
}

.hist {
    display: inline-block;
    margin: 10px 20px 0;
}

rect {
    fill-opacity: .8;
}

text {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 11px;
    color: #222;
}

line.axis {
    stroke: #222;
    stroke-width: 1px;
}
