<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>GitHub Report Card</title>

    <style>

        .hist {
            display: inline-block;
            margin: 0 20px 0;
        }

        rect {
            fill-opacity: .6;
            fill: #e377c2;
        }

        text {
            font-family: "Helvetica Neue", Helvetica, sans-serif;
            font-size: 11px;
            color: #222;
        }

        line.axis {
            stroke: #222;
            stroke-width: 1px;
        }

    </style>

</head>
<body>

    <div id="plots"></div>

    <script src="{{ url_for(".static", filename="d3.v3.min.js") }}"></script>
    <script src="{{ url_for(".static", filename="plot.js") }}"></script>
    <script>
        d3.json("{{ url_for(".static", filename="week_means.json") }}", function (data) {
            var week_hist = window.histogram().labels(["S","M","T","W","T","F","S"]);
            for (var k in data) {
                console.log(k)
                var d = data[k].map(function (dd) { return [dd]; });
                d3.select("#plots").append("div").attr("class", "hist")
                    .datum(d).call(week_hist);
            }
        });
    </script>

</body>
</html>
